* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif, Arial, Helvetica, Verdana;
    scroll-behavior: smooth;
}

body {
    background-color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    background-color: #333;
    color: white;

}

.navbar ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.navbar ul li {
    margin: 0 10px;
    text-decoration: none;
    background-color: #2e2e2e;
    border-radius: 7%;
    padding: 3px;
    margin-bottom: 2px;
}

.navbar ul li:hover {
    background-color: #252525;
    border-radius: 5px;
}

.navbar ul li:active {
    background-color: #181818;
    border-radius: 5px;
}

.navbar ul:hover a {
    color: #575757;
}

.navbar ul:hover a:hover {
    color: #ffffff;
    box-shadow: 0 2px 0 0 currentColor;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    transition: background 0.3s ease;
}

.content h2 {
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;    
}
